<!DOCTYPE html>
						<th scope="col">Email</th>
										<th scope="col">Gender</th>
										<th scope="col">Role</th>
										<th scope="col">Action</th>

									</tr>
								</thead>
								<tbody>
									<tr th:each="e,c:${list}">
										<th scope="row">[[${c.count}]]</th>
										<td>[[${e.name}]]</td>
										<td>[[${e.email}]]</td>
										<td>[[${e.gender}]]</td>
										<td>[[${e.role}]]</td>
										<td>
											<a th:href="@{'editemp/'+${e.id}}" class="btn btn-sm btn-primary">Edit</a>
											<a th:href="@{'delete/'+${e.id}}" class="btn btn-sm btn-danger">Delete</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>